body {
	margin: 5% 5% 2%;
	color: #eee;
	background-color: #444;
	font-family: "Georgia";
	font-size: 1vw;
}
.footer {
	color: #888;
	text-align: center;
	font-size: 75%;
}
a {
	color: #aac;
}
.leader {
	text-align: center;
}
.img-horiz {
	width: 100%;
}
.img-vert {
	width: 100%;
}
.leader-grid {
	display: grid;
	grid-template-columns:19.7% 40% 20.6% 19.7%;
}
.leader-img {
	grid-column: 2
}
.leader-unit {
	grid-column: 3
}
.grid-container-horiz {
	display: grid;
	grid-template-columns: 15.83% 15.83% 15.83% 15.83% 15.83% 15.83%;
	grid-column-gap: 1%;
	grid-row-gap: 1em;
}
.grid-container-vert {
	display: grid;
	grid-template-columns: 13.43% 13.43% 13.43% 13.43% 13.43% 13.43% 13.43%;
	grid-column-gap: 1%;
	grid-row-gap: 2em;
}	
.grid-item {
	text-align: center;	
	line-height: 1em;
}
h1 {
	line_height: auto;
	font-size: 400%;
}
h2 {
	line_height: auto;
	font-size: 200%;
	padding-top: 3%;
	text-align: center;
}
h4 {
	line-height: auto;
	height: auto;
	padding: 0em;
	margin: 0em;
	font-size: 100%;
}
p {
	line-height: 1.2em;
	margin-top: 0.5em;
}
.grid-container-aspects {
	width: min-content;
	display: grid;
	grid-template-columns: min-content min-content min-content min-content;
	grid-column-gap: 1%;
	margin: 0 auto;	
	text-align: center;
}
.grid-container-aspects img {
	width: 7vw;
}
.non-active {
	filter: grayscale(85%);
}
.home-grid {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 2%;
}
.col-1 {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-column-gap: 1%;
	grid-row-gap: 1%;
}
.col-2 {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-column-gap: 1%;
	grid-row-gap: 1%;
}